.node {
  cursor: pointer;
}


/*look here*/
.d3-tip {
  position: relative;
  line-height: 1;
  font-weight: bold;
  padding: 15px 10px;
  background: linear-gradient(-225deg, #43234d 0%,
   #130f1a 29%, #8a3e3e 67%,
    #622569 100%),
     repeating-linear-gradient(-115deg, transparent, transparent 20px, rgba(255,255,255,0.1) 20px, rgba(255,255,255,0.1) 40px),
      repeating-linear-gradient(115deg, transparent, transparent 20px, rgba(255,255,255,0.1) 20px, rgba(255,255,255,0.1) 40px);
  color: #fff;
  border-radius: 15px;
}

/* Creates a small triangle extender for the tooltip */
/*look here*/
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(167, 167, 167, 0.294);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.node circle {

  /* background-image: url('https://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500/wsh.png&h=80&w=80&scale=crop'); */
  fill: #fff;
  /* stroke: rgb(207, 161, 74); */
  stroke-width: 2.5px;
}

 #bblogo{
   position: relative;
   margin-bottom: -160vh;
   padding-left: 35vw;
   padding-top: 56vh;
 }

.node text {
  font-family: 'Maven Pro', sans-serif;
  font: 12px sans-serif;
}

 .link {
   fill: none;
   stroke: rgb(214, 213, 213);
   stroke-width: 2.0px;
 }

 #cover-img{
   min-width: 350px;
   min-height: 254px;
   max-width: 350px;
   max-height: 254px;
   margin: 0 auto;
 }

 #profile{
   min-width: 200px;
   min-height: 400px;
   display: flex; 
   flex-direction: column;
 }

 #stats{
   font-family: 'Maven Pro', sans-serif;
   font-size: 25px;
   display: flex;
   flex-direction: row; 
   min-height: 100px;
   justify-content: space-between;
 }

 #stats-left div{
   margin: 14px 7px;
 }
 #stats-right div{
   margin: 14px 7px;
 }

 #stats-left{
   display: flex;
   flex-direction: column; 
 }
 #stats-right{
   display: flex;
   flex-direction: column; 
 }

 /*look here*/
 center h2{
   font-family: 'Maven Pro', sans-serif;
   font-size: 40px;
   color: rgb(255, 217, 0);
 }



/* html{ */
  /* background: black;  */
/* } */

 /* #splash{
  display: flex;
  flex-direction: row;
  justify-content: flex-start
} 

@keyframes pulse {
    0%     { opacity: .1; }
    20%    { opacity: .8; }
    100%   { opacity: .1; }
}

svg path {
  animation-duration: 1s;
    animation-name: pulse;
    animation-iteration-count: infinite;
    color: #B54213;
}



svg:not(:root){
       position: relative;
    /* top: -0vh; */
    /* left: -5vw; */
/* } */

/* .bb-7 { animation-delay: -1s }
.bb-6 { animation-delay: -.875s }
.bb-5 { animation-delay: -.75s }
.bb-4 { animation-delay: -.625s }
.bb-3 { animation-delay: -.5s }
.bb-2 { animation-delay: -.375s }
.bb-1 { animation-delay: -.25s }
.bb-0 { animation-delay: -.125s } */ 


/*look here*/
html, body {  
  margin: 0;
  padding: 0;
  background-image: url('../teams/nba8.jpg');
}
.node {
  cursor: pointer;
}

.node circle {
}

.node text {
  fill: rgba(246, 238, 238, 0.842);
  font-family: 'Maven Pro', sans-serif;
  font-size: 30px;
}

.link {
  fill: none;
  stroke: rgba(114, 114, 114, 0.835);
  stroke-width: 4px;
}




